<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Covid</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/precautions']">Precautions</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/latest-news']">Latest News</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a
          class="nav-link"
          [routerLink]="['/admin/add-news']"
          *ngIf="isLoggedIn"
          >Add News</a
        >
      </li>
    </ul>
    <div class="col-md-2 offset-6 justify-content-right">
      <button
        class="btn btn-outline-primary"
        [routerLink]="['/login']"
        *ngIf="!isLoggedIn"
        type="button"
      >
        Login
      </button>
      <span *ngIf="isLoggedIn">welcome {{ username }}</span>
      <button
        class="btn btn-outline-secondary"
        *ngIf="isLoggedIn"
        type="button"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
