<app-header></app-header>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Username"
        id="username"
        required
        formControlName="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        id="password"
        required
        formControlName="password"
      />
    </div>
    <button type="submit" color="accent" [disabled]="!loginForm.valid">
      Login
    </button>
    <button
      type="button"
      color="accent"
      (click)="resetForm()"
      [disabled]="!loginForm.valid"
    >
      Reset
    </button>
  </form>
</div>
